<div class="vachche">
    <div class="authBlock">

        <mat-card class="jalsa mat-elevation-z5">

            <mat-card-header>
                <mat-card-title>Reset Password</mat-card-title>
            </mat-card-header>

            <mat-card-content>

                <mat-card-subtitle>
                    Please Enter Your E-mail address to Request a <strong>Password Reset Link</strong>.
                </mat-card-subtitle>
                <mat-form-field class="example-full-width">
                    <!-- <input matInput placeholder="pat@example.com" [formControl]="email" #userName required> -->

                    <input matInput type="email" [formControl]="email" placeholder="pat@example.com" #passwordResetEmail
                        required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>

                </mat-form-field>

                <!-- Calling ForgotPassword from AuthService Api -->
                <div class="formGroup">
                    <button mat-raised-button color="accent" class="btn btnPrimary" value="Reset Password"
                        (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset Password</button>
                </div>

            </mat-card-content>

            <mat-card-footer>
                Goto <a routerLink="/sign-in"> Sign in</a> ?
            </mat-card-footer>
        </mat-card>
    </div>
</div>