<mat-dialog-content class="mat-typography">
<section class="example-section" [formGroup]="toppings">
    <h4>Select the Project from which you want to leave:</h4>
    <p><mat-checkbox formControlName="pepperoni">Dream Project</mat-checkbox></p>
    <p><mat-checkbox formControlName="extracheese">abc Project</mat-checkbox></p>
    <p><mat-checkbox formControlName="mushroom">xyz Project</mat-checkbox></p>
  </section>
</mat-dialog-content>
<mat-dialog-actions align ="center">
    <button mat-raised-button mat-dialog-close>Leave</button>
    
  </mat-dialog-actions>
