<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>

  <div class="tlt">House Owner</div>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" (click)="authService.SignOut()"
    aria-label="Example icon-button with menu icon">
    <mat-icon>power_settings_new</mat-icon>
  </button>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <img class="avatar mat-elevation-z8" src="" />

    <h4 class="name">Arpi Patel<button mat-icon-button color="grey"
        aria-label="Example icon button with a open in new tab icon" (click)="OpenDialog()">
        <mat-icon>edit</mat-icon>
      </button>
    </h4>


    <mat-divider></mat-divider>


    <div class="magneto">
      <div class="project-mem">
        <h3 class="josh">Project Members</h3>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">

          <button mat-menu-item (click)="AddMember()">
            <mat-icon>person_add</mat-icon>
            <span>Add Member</span>
          </button>

          <button mat-menu-item (click)="RemoveMember()">
            <mat-icon>remove</mat-icon>
            <span>Remove Member</span>
          </button>

        </mat-menu>
      </div>
      <div class="btns">

        <button class="example-button-container" mat-raised-button (click)="ServiceProviderinfo()">
          <mat-icon>account_circle</mat-icon>
          Architect
        </button>

        <button class="example-button-container" mat-raised-button (click)="ServiceProviderinfo()">
          <mat-icon>account_circle</mat-icon>
          Mason
        </button>

        <button class="example-button-container" mat-raised-button (click)="ServiceProviderinfo()">
          <mat-icon>account_circle</mat-icon>
          Painter
        </button>

      </div>
    </div>



    <mat-divider></mat-divider>
    <div class="magneto">
      <div class="project-mem">
        <h3 class="josh">Pending Request</h3>
      </div>
      <div class="btns">

        <div>
          <button class="example-button-container" mat-raised-button routerLinkActive="active"
            (click)="ServiceProviderinfo()">
            <mat-icon>account_circle</mat-icon>
            Carpenter
          </button>
        </div>

        <div>
          <button class="example-button-container" mat-raised-button (click)="ServiceProviderinfo()">
            <mat-icon>account_circle</mat-icon>
            Plumber
          </button>
        </div>


      </div>
    </div>



  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <app-tab></app-tab> -->
    <!-- <app-h-tabs> </app-h-tabs> -->
    <!-- <div class="box" >
      <mat-toolbar class="nav">
          <button class="navbar-brand"   (click)="showchat()">Chatroom</button>
          <button class="navbar-brand"  (click)="showtimeline()">Timeline</button> 
          <button class="navbar-brand"(click)="showprogress()">Progress</button> 
        </mat-toolbar>
  </div> -->
    <div style="margin-left:1%; ">

      <mat-tab-group mat-align-tabs="center">

        <mat-tab label="Chatroom">
          <div class=" mat-elevation-z4">
            <app-h-list-chatroom></app-h-list-chatroom>
          </div>
        </mat-tab>

        <mat-tab label="Timeline">
          <div class="example-large-box mat-elevation-z4">
            <app-h-timeline></app-h-timeline>
          </div>
        </mat-tab>

        <mat-tab label="Progress">
          <div class="example-large-box mat-elevation-z4">
            <app-h-progress></app-h-progress>
          </div>
        </mat-tab>

      </mat-tab-group>

      <div>
      </div>
      <!-- <router-outlet></router-outlet> -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>