.divide {
  margin-top: 10px;
  padding: 10px;

}

hr.solid {
  border-top: 3px solid #bbb;
}

.container {
  padding: 1%;
}

.progress {
  height: 10px;
  padding: 0%;
}
.button{
  text-align: left;
}