<div class="container">
    <div class="row">
        <div class="row">
            <h2 style="text-align: center;">Your  progress</h2>
        </div>
        <div class="row">
            <mat-divider class="divide"></mat-divider>
        </div>
        <div class="progress" style="height: 20px;"  >
            <div class="progress-bar" role="progressbar" aria-valuenow="70"
            aria-valuemin="0" aria-valuemax="100" style="width:50%; background-color:#673AB7 ;">
              50%
            </div>
          </div>
    </div>
    
    <br><br>

    