<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <div class="authBlock">
        <mat-card class="box">
            <mat-card-header>
                <mat-card-title>Register</mat-card-title>
            </mat-card-header>

            <form class="example-form">
                <mat-card-content>
                    <mat-form-field class="example-full-width">

                        <mat-label>Your Role</mat-label>
                        <input matInput placeholder="Owner or Service Provider" value="{{YrRole}}" #UserRole readonly>
                        <!-- <mat-error *ngIf="userRole.invalid">{{getErrorMessage()}}</mat-error> [formControl]="userRole" -->

                    </mat-form-field>

                    <mat-form-field class="example-full-width">

                        <mat-label>Enter Your E-mail</mat-label>
                        <input matInput placeholder="pat@example.com" [formControl]="email" #userEmail required>
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>

                    </mat-form-field>

                    <mat-form-field class="example-full-width">

                        <mat-label>Enter Your Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" #userPwd required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>

                    </mat-form-field>

                </mat-card-content>

                <button mat-stroked-button color="primary" class="btn-block" value="Sign Up"
                    (click)="authService.SignUp(userEmail.value, userPwd.value, UserRole.value)">Register</button>

                <div class="extusr">
                    <a>Already have an account? <a class="redirect" routerLink="/sign-in" routerLinkActive="active">Log
                            In</a></a>
                </div>

            </form>
        </mat-card>
    </div>
</div>

<!-- <div class="displayTable">
    <div class="displayTableCell"> -->

<!-- <div class="authBlock"> -->
<!-- <h3>Sign Up</h3> -->

<!-- <div class="formGroup">
                <input type="email" class="formControl" placeholder="Email Address" #userEmail required>
            </div> -->

<!-- <div class="formGroup">
                <input type="password" class="formControl" placeholder="Password" #userPwd required>
            </div> -->

<!-- <div class="formGroup">
                <input type="button" class="btn btnPrimary" value="Sign Up"
                    (click)="authService.SignUp(userEmail.value, userPwd.value)">
            </div> -->

<!-- <div class="formGroup">
                <span class="or"><span class="orInner">Or</span></span>
            </div> -->

<!-- Continue with Google -->
<!-- <div class="formGroup">
                <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
                    <i class="fab fa-google-plus-g"></i>
                    Continue with Google
                </button>
            </div> -->

<!-- </div> -->
<!-- 
        <div class="redirectToLogin">
            <span>Already have an account? <span class="redirect" routerLink="/sign-in">Log In</span></span>
        </div>
    </div>

</div> -->