<mat-toolbar color="primary">Add Member</mat-toolbar>

<mat-dialog-content class="mat-typography" style="margin-top:5%; font-size: 15px;">
  <mat-form-field appearance="legacy">
    <mat-label>Enter identity (i.e Painter)</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>Enter Contact No./E-mail</mat-label>
    <input matInput>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions style="align-items: center;">
  <button mat-raised-button mat-dialog-close color="primary">Add</button>

</mat-dialog-actions>