.box {
  padding-top: 1%;
  /* padding-right: 10%; */
  max-width: 100%;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  display: block;
  text-decoration: none;
}
.nav {
  display: contents;
  text-decoration: none;
  color: black;
  display: contents;
}

.maincontent {
  padding: 1%;
}
.example-spacer {
  flex: 1 1 auto;
}
