<div class="row" style="padding: 1%;">
    <mat-toolbar style="background-color:rgb(36, 8,8); color:cornsilk;">
        <mat-toolbar-row>
            <span>Project Name</span>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="row">
        <div class="col-sm-6" style="text-align: center; padding-top: 1%">
            <div class="container ">
                <div style="width:auto">
                    <img mat-card-sm-image src="" style="width: 30%; height: 30%;">
                    <div class="card-body">
                        <mat-card-title>Kathan Patel</mat-card-title>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="padding-top: 1%">
            <mat-form-field class="example-full-width " appearance="legacy">
                <mat-label> Address</mat-label>
                <textarea matInput placeholder="Ex. 100 Main St"></textarea>
            </mat-form-field>
            <div style="padding-top:2% ;">
                <div>
                    <mat-icon>call </mat-icon> +91 89876 78787
                </div>
                <br>
                <div>
                    <mat-icon>mail </mat-icon> kathan0000@gmail.com
                </div>
            </div>
        </div>
        <hr class="solid">
        <div class="row">
            <div class="row">
                <h4> Service Provider Details</h4>
            </div>
            <hr solid>
            <div class="col-sm-4" style="justify-content: center;">
                <mat-card class="card">
                    <mat-card-header>
                        <mat-card-title>Painter</mat-card-title>
                        <mat-card-subtitle>Raju Patel</mat-card-subtitle>
                    </mat-card-header>
                    <p>
                        <mat-icon>call </mat-icon> +91 89876 78787
                    </p>
                    <p>
                        <mat-icon>mail </mat-icon> kathan0000@gmail.com
                    </p>
                </mat-card>
            </div>
            <div class="col-sm-4">
                <mat-card class="card">
                    <mat-card-header>
                        <mat-card-title>Painter</mat-card-title>
                        <mat-card-subtitle>Raju Patel</mat-card-subtitle>
                    </mat-card-header>
                    <p>
                        <mat-icon>call </mat-icon> +91 89876 78787
                    </p>
                    <p>
                        <mat-icon>mail </mat-icon> kathan0000@gmail.com
                    </p>
                </mat-card>
            </div>
            <div class="col-sm-4">
                <mat-card class="card">
                    <mat-card-header>
                        <mat-card-title>Painter</mat-card-title>
                        <mat-card-subtitle>Raju Patel</mat-card-subtitle>
                    </mat-card-header>
                    <p>
                        <mat-icon>call </mat-icon> +91 89876 78787
                    </p>
                    <p>
                        <mat-icon>mail </mat-icon> kathan0000@gmail.com
                    </p>
                </mat-card>
            </div>
            <div class="col-sm-4" style="padding-top: 1%;">
                <mat-card class="card">
                    <mat-card-header>
                        <mat-card-title>Painter</mat-card-title>
                        <mat-card-subtitle>Raju Patel</mat-card-subtitle>
                    </mat-card-header>
                    <p>
                        <mat-icon>call </mat-icon> +91 89876 78787
                    </p>
                    <p>
                        <mat-icon>mail </mat-icon> kathan0000@gmail.com
                    </p>
                </mat-card>
            </div>
            <div class="col-sm-4" style="padding-top: 1%;">
                <mat-card class="card">
                    <mat-card-header>
                        <mat-card-title>Painter</mat-card-title>
                        <mat-card-subtitle>Raju Patel</mat-card-subtitle>
                    </mat-card-header>
                    <p>
                        <mat-icon>call </mat-icon> +91 89876 78787
                    </p>
                    <p>
                        <mat-icon>mail </mat-icon> kathan0000@gmail.com
                    </p>
                </mat-card>
            </div>
        </div>
    </div>
</div>
