<div class="row" style="justify-content:center ; ">
    <div class="card"  style=" width: 400px;">
                <div class="card-header" style="background-color: aliceblue; text-align: center;">
                 <h3>Houseowners's Sign Up</h3> 
                </div>
                <div class="card-body">
                    <div class="form-group" >
                        <label for="name">First Name:</label>
                        <input type="text" class="form-control" id="email" placeholder="First Name" name="f_name">
                    </div>
                    <br>

                    <div class="form-group" >
                        <label for="name">Last Name:</label>
                        <input type="text" class="form-control" id="email" placeholder="Last Name(Surname)" name="l_name">
                    </div>
                    <br>

                    <div class="form-group" >
                        <label for="name">Contact No:</label>
                        <input type="tel" class="form-control" id="email" placeholder="Enter Contact number" name="contact">
                    </div>
                    <br>

                    <div class="form-group" >
                        <label for="name">E-mail:</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                    </div>
                    <br>

                    <div class="form-group" >
                        <label for="name">Password:</label>
                        <input type="password" class="form-control" id="email" placeholder="Enter password" name="password">
                    </div>
                    <div class="form-group" style="margin-top: 10px;" >
                        <input type="password" class="form-control" id="pass" placeholder="Confirm password" name="password">
                    </div>
                    <br>
                    
                    <hr solid>

                    
                    <div style="text-align: center;">
                        <button class="btn btn-primary" (click)="createaccount()" >Create Account</button>
                    </div>
                  
                </div>
                
              </div>  
            
</div>
<!-- <router-outlet name="htimeline"></router-outlet> -->